<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:label="TV Bro Playback" tools:replace="android:label">
        <activity android:name="com.phlox.tvwebbrowser.activity.main.MainActivity"
            android:label="TV Bro Playback" tools:replace="android:label" />
    </application>
</manifest>
